* {
  margin: 0;
}
body {
  background-color: rgb(61, 59, 59);
  color: orangered;
  text-align: center;
 /*  display: flex; */
}
.containerheader {
  display: flex;
  justify-content: space-between;
  background-color: rgba(208, 48, 244, 0.487);
  padding 3%;
  align-items: center;
}

.nav {
  list-style: none;
}

ul {
  dec
}