body {
  background-color: rgb(61, 59, 59);
  color: orangered;
  text-align: center;
  /*  display: flex; */
}

/* CSS von Ihor (Video) */

.video-header {
  background: #161b22;
  padding: 1.5em 1.5em 1.5em 1.5em;
  font-family: monospace;
  color: green;
  font-weight: 600;
  font-size: 1rem;
}

.video-container a {
  text-decoration: none;
}

.video-inhalt {
  transition: height 1s ease-out;
  height: 0;
  overflow: hidden;
  font-family: monospace;
  color: white;
  line-height: 25px;
}

.video-container {
  width: 50%;
  margin: auto;
}

.video-inhalt:target {
  height: 550px;
}

.IconCloseWindow {
  color: rgb(150, 150, 150);
  transition: height 1s ease-out;
  padding: 5px 48%;
  background-color: black;
}

.IconCloseWindow:hover {
  background-color: hsl(215, 21%, 7%);
  color: rgb(199, 199, 199);
}

iframe {
  border-top: 1px solid #161b22;
}

table,
td {
  width: 50%;
  margin: auto;
  color: white;
  font-size: 1.2rem;
  text-align: left;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(45 45 45);
  margin-bottom: 1rem;
}

td {
  padding: 1rem;
}

.table-poster {
  width: 25%;
  padding: 0%;
}

.table-poster img {
  width: 210px;
  margin-right: 2rem;
}

.table-info-left {
  color: chartreuse;
  width: 25%;
}

p {
  width: 50%;
  margin: auto;
  color: rgb(201, 201, 201);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.2rem;
  text-align: left;
  line-height: 2rem;
  background-color: rgb(45 45 45);
  padding: 1rem 0;
  margin-bottom: 1rem;
}
