main,
body {
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 52px;
  padding: 1em;
  margin: 0;
  background-color: #242424;
}

li p {
  color: rgb(40, 43, 43);
}
.regie {
  font-size: 20px;
  color: purple;
}

.regie:hover {
  color: red;
}
.hauptbesetzung {
  font-size: 20px;
  color: purple;
}

body {
  background-color: rgb(61, 59, 59);
  color: orangered;
  text-align: center;

  /*  display: flex; */
}
ol {
  padding-inline-start: 0px;
  list-style-type: none;
  width: 12%;
}

.star {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 40px;
}

li {
  font-size: 1.5em;
  padding: 20px;
  border-style: groove;
  border-color: rgb(175, 36, 36);
  background-color: grey;
  height: 10em;
  margin: auto;
  position: relative;
}

.hover1 {
  background-color: rgb(209, 204, 204);
}
a {
  font-size: 46px;
  text-decoration: none;
  color: rgb(40, 43, 43);
}
nav {
  margin: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* flex-wrap: nowrap; */
  align-items: center;
  background-color: #242424;
  padding-bottom: 5em;
  margin-bottom: 5em;
}

img {
  height: 300px;
  width: 200px;
  object-fit: cover;
}

.hover,
.hover1 {
  margin-bottom: 25px;
}

/* CSS von Ihor (Video) */

html {
  scroll-behavior: smooth;
}

.sizar-content {
  width: 55%;
  min-width: 900px;
  margin: auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.2rem;
  background-color: rgb(45 45 45);
  border: 1px solid;
  margin-bottom: 2rem;
}

.table-poster {
  width: 25%;
  padding: 0%;
}

.table-poster img {
  width: 210px;
}

.table-info-left {
  color: chartreuse;
  width: 25%;
}

.sizar-content p {
  color: rgb(201, 201, 201);
  text-align: left;
  line-height: 2rem;
  padding: 1rem;
  /* margin: 0; */
}

.sizar-content table,
td {
  width: 100%;
  color: white;
  text-align: left;
  line-height: 1rem;
  border-collapse: collapse;
}

.sizar-content td {
  padding: 1rem;
}

.sizar-content tr:nth-child(even) {
  background-color: #242424;
}

.sizar-content h2 {
  padding: 1rem;
  margin: 0;
  color: gold;
  background-color: #161b22;
}

.sizar-content h3 {
  color: green;
  font-family: system-ui;
  margin-bottom: 0;
}

.video-container a {
  text-decoration: none;
}

.video-header {
  background: #161b22;
  padding: 1.5rem;
  font-family: system-ui;
  color: green;
  font-weight: 600;
  font-size: 1.1rem;
}

.video-inhalt {
  transition: height 0.3s ease-out;
  height: 0;
  overflow: hidden;
  font-family: system-ui;
  color: white;
  line-height: 25px;
}

.video-inhalt:target {
  height: 500px;
}

.IconCloseWindow {
  color: rgb(150, 150, 150);
  transition: height 1s ease-out;
  padding: 5px 47.75%;
  background-color: black;
  font-size: 18px;
}

.IconCloseWindow:hover {
  background-color: hsl(215, 21%, 7%);
  color: rgb(199, 199, 199);
}

.sizar-content iframe {
  border-top: 1px solid #31353a;
}

.moviebilder {
  margin: 20px;
  border: 1px solid orangered;
  transition: transform 0.2s;
}

.moviebilder:hover {
  transform: scale(1.05);
}

.movie-number {
  position: relative;
}

.movie-number p {
  position: absolute;
  bottom: -60px;
  left: 21px;
  font-size: 2em;
  font-family: sans-serif;
  color: orangered;
  background-color: #ffffffbf;
  padding: 0px 15px;
  font-weight: bold;
  border-radius: 0 30px 0 0;
}

a .backtotop {
  position: fixed;
  bottom: 50px;
  right: 20px;
  width: 35px;
  height: 40px;
  padding: 10px;
  float: right;
  margin-right: 50px;
}

a .backtotop:hover {
  transform: scale(1.05);
}